@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" style="text-align: center">
    <img src="http://www.maiorviagem.net/wp-content/uploads/2018/06/eCommerce-turismo-1014x598.jpg" height="70%" width="70%" style="text-align: center" alt="online">
</div>
