@model Mercado.NET.Web.Ui.Models.Produto
@{
    ViewData["Title"] = "DetailsModal";
}

<div class="container">
    <h4 style=" text-align:center;border-bottom:1px solid #808080">EmployeeInfo</h4>
    <p><label>Id : </label> @Model.Id</p>
    <p><label>Nome : </label> @Model.Nome</p>
    <p><label>Preco : </label> @Model.Preco</p>
    <p><label>Cadastro : </label> @Model.Cadastro</p>
</div>

